<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <mat-card class="user-detail-card">
        <mat-card-header>
          <img
            mat-card-avatar
            [src]="(user$ | async)?.avatar_url"
            [alt]="(user$ | async)?.login"
          />
          <mat-card-title>{{ (user$ | async)?.login }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="(user$ | async)?.avatar_url"
          [alt]="(user$ | async)?.login"
        />
        <mat-card-content>
          <p>
            {{ (user$ | async).bio }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6">
      <mat-list>
        <mat-list-item>Repository List</mat-list-item>
        <mat-list-item *ngFor="let repo of repos$ | async">
          <mat-divider></mat-divider>
          {{ repo?.name }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
